.skill {
    margin: 10px 0;
    text-align: center;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 5px;

    box-shadow:
        0 4px 8px 0 rgba(0,0,0,0.12),
        0 2px 4px 0 rgba(0,0,0,0.08);
}

.skill:hover {
    cursor: pointer;

    box-shadow:
        0 8px 8px 0 rgba(0,0,0,0.12),
        0 2px 4px 0 rgba(0,0,0,0.08);
}

.skill img {
    width: 60px;
    height: 60px;
    margin-bottom: 25px;
}