.search {
    background-color: #eee;
    padding: 20px 30px;
    margin-bottom: 30px;
    border-radius: 5px;

    box-shadow:
        0 4px 8px 0 rgba(0,0,0,0.12),
        0 2px 4px 0 rgba(0,0,0,0.08);
}